.main {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 50px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 20px;
}


.publishedAt {
  margin-bottom: 40px;
}

.post {
  margin: 20px 0 0;

  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

.about_container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 50px 50px 0;
}

.about_ttl{
  font-size: 30px;
  margin-bottom: 20px;
  padding: 20px 0;
}

.works_container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 50px;
}

.works_ttl{
  font-size: 30px;
  margin-bottom: 20px;
  padding: 20px 0;
}

.works_list {
  display: flex;
  flex-wrap: wrap;

  .works_list__item {
    width: 30.3333%;
    margin: 0 1.5% 2em;

    .works_list__item__link {
      display: block;
      overflow: hidden;
      transition: .8s;

      &:hover {
        opacity: .7;

        img{
          transform: scale(1.2);
          transition: .8s;
        }

      }

    }
    
  }

}

.works_tag__name {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 5px 1em 6px;
  font-size: 12px;
  margin: 0 0 .5em;
}

.works_name {
  padding: .5em .2em .2em;
}

.works_url{
  display: block;

  &:hover {
    text-decoration: underline;
  }

}

.works_img {
  display: block;
  margin: 0 0 10px;
}

.works_btn {
  display: block;
  max-width: 150px;
  width: 100%;
  margin: 100px auto 0;
  background-color: #000;
  color: #fff;
  padding: 10px 1em;
  text-align: center;
  border: solid 1px #000;
  transition: .3s;

  &:hover {
    background-color: #fff;
    color: #000;
    transition: .3s;
  }
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 10px 1em;
  margin: 50px 0 0;

  .copyright{
    text-align: center;
    font-size: 12px;
  }
}





